POSTGRES_USER=odoo
POSTGRES_PASSWORD=odoo
POSTGRES_HOST_PORT=5433

# SMTP (Outgoing Mail Server)
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_USER=tu_correo@gmail.com
SMTP_PASSWORD=tu_app_password
SMTP_FROM=admin@ironzone.com
SMTP_ENCRYPTION=starttls

ODOO_USERNAME=admin@ironzone.comcom

# Dirección de correo destinatario para realizar pruebas unitarias
TEST_EMAIL=ejemplo@ironzone.com
# Stripe (Sandbox)
STRIPE_PUBLISHABLE_KEY=pk_test_aqui_tu_publishable_key
STRIPE_SECRET_KEY=sk_test_aqui_tu_secret_key
STRIPE_WEBHOOK_SECRET=whsec_aqui_tu_webhook_secret

