POSTGRES_USER=odoo
POSTGRES_PASSWORD=odoo
POSTGRES_HOST_PORT=5433

# SMTP (Outgoing Mail Server)
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_USER=tu_correo@gmail.com
SMTP_PASSWORD=tu_app_password
SMTP_FROM=admin@ironzone.com
SMTP_ENCRYPTION=starttls

# Dirección de correo destinatario para realizar pruebas unitarias
TEST_EMAIL=ejemplo@ironzone.com
